<div class="pokedex">
  <div class="searchContainer">
    <div class="searchOptions">
      <form [formGroup]="myform">
        <div class="inputContainer">
          <label class="searchTitle">Name or number</label>
          <div class="inputButton">
            <input
              class="searchInput"
              matInput
              placeholder=""
              formControlName="search"
              (keyup)="applyFilter()"
              #input
            />
            <div class="searchButton"></div>
          </div>
        </div>
      </form>
      <div class="searchInfo">
        Search for a Pokémon by name or <br />
        using its National Pokédex number.
      </div>
    </div>
  </div>
  <div class="pokemons">
    <h2 class="title">Pokédex</h2>
    <div class="sort">
      <button (click)="pokedexAsc()">Up</button>
      <button (click)="pokedexDesc()">Down</button>
      <button (click)="pokedexAZ()">A-Z</button>
      <button (click)="pokedexZA()">Z-A</button>
    </div>
    <div
      infinite-scroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()"
      *ngIf="this.myform.get('search')?.value === ''; else noFiltered"
    >
      <ul class="cardList">
        <li class="card" *ngFor="let pokemon of pokemon$ | async">
          <div routerLink="/pokedex/{{ pokemon.id }}">
            <div class="card-img">
              <img
                class="pokemon-img"
                [src]="api_image + pokemon.id + api_format_image"
              />
            </div>
            <div class="number">N.º {{ pokemon.id }}</div>
            <div class="name">{{ pokemon.name }}</div>
            <div class="tipos">
              <div
                class="tipo"
                [ngClass]="
                  pokemon.pokemon_v2_pokemontypes[0].pokemon_v2_type.name
                "
              >
                {{ pokemon.pokemon_v2_pokemontypes[0].pokemon_v2_type.name }}
              </div>
              <div
                *ngIf="pokemon.pokemon_v2_pokemontypes[1]"
                class="tipo"
                [ngClass]="
                  pokemon.pokemon_v2_pokemontypes[1].pokemon_v2_type.name
                "
              >
                {{ pokemon.pokemon_v2_pokemontypes[1].pokemon_v2_type.name }}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #noFiltered>
      <ul class="cardList">
        <li class="card" *ngFor="let pokemon of filteredPokemon$ | async">
          <div routerLink="/pokedex/{{ pokemon.id }}">
            <div class="card-img">
              <img
                class="pokemon-img"
                [src]="api_image + pokemon.id + api_format_image"
              />
            </div>
            <div class="number">N.º {{ pokemon.id }}</div>
            <div class="name">{{ pokemon.name }}</div>
            <div class="tipos">
              <div
                class="tipo"
                [ngClass]="
                  pokemon.pokemon_v2_pokemontypes[0].pokemon_v2_type.name
                "
              >
                {{ pokemon.pokemon_v2_pokemontypes[0].pokemon_v2_type.name }}
              </div>
              <div
                *ngIf="pokemon.pokemon_v2_pokemontypes[1]"
                class="tipo"
                [ngClass]="
                  pokemon.pokemon_v2_pokemontypes[1].pokemon_v2_type.name
                "
              >
                {{ pokemon.pokemon_v2_pokemontypes[1].pokemon_v2_type.name }}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </ng-template>
    <div class="buttonContainer">
      <div class="loadButton" (click)="loadMore()" *ngIf="button">
        Load more
      </div>
    </div>
  </div>
</div>
