.pokemon-page {
  padding-top: 120px;
  background: #fff
    url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: block;
  margin: 0px auto 60px auto;
  max-width: 1280px;
  overflow: hidden;
  position: relative;
  padding: 10px 10px 0px 10px;
  color: black;
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  font-family: "BundayBold", sans-serif;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  margin: 60px 40px;
  overflow: hidden;
  position: relative;
  padding: 20px 5px 10px 5px;
}

.title {
  font-family: "BundayBold", sans-serif;
  font-size: 35px;
  color: #1d1d1d;
  margin: 20px 0px;
  text-align: center;
  text-transform: capitalize;
}

.title span {
  font-family: "BundayRegular", sans-serif;
  color: #919191;
}

.firstSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.card-img {
  width: auto;
  height: auto;
  border: 5px;
  background-color: #f2f2f2;
  margin-left: 50px;
}

.pokemon-img {
  width: auto;
  height: 450px;
}

.info {
    color: white   ;
  width: 400px;
  background-color: #30a7d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
    padding: 20px;
    border-radius: 20px;
}

.info input {
  outline: none;
  color: #1d1d1d;
  width: 300px;
  height: 30px;
  border: none;
  margin: 5px 0px;
  padding: 5px;
  background-color: transparent;
  text-transform: capitalize;
}

::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}

::-moz-placeholder {
  color: rgb(0, 0, 0);
}

:-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

// .tipos {
//     font-family: "BundayRegular", sans-serif;
//     text-transform: capitalize;
//     font-size: 13px;
//     display: flex;
//     top: 250px;
//     left: 70px;
//   }

//   .tipo {
//     width: auto;
//     margin: 0px 5px 0px 0px;
//     border-radius: 5px;
//     opacity: 0.8;
//     padding: 1px 20px 0px 20px;
//   }

.evolutions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 150px;
    height: 350px;
    background: #b4b4b4
    url(https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png);
    border-radius: 10px;
}

.pokemon-evolution{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
}

.pokemon-evolution input{
    font-family: "BundayBold", sans-serif;
    font-size: 20px;
    outline: none;
    width: 150px;
    height: 20px;
    border: none;
    margin: 5px 0px;
    text-transform: capitalize;
    background-color: transparent;
    text-align: center;
}

.pokemon-evolution input::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
  }

  .pokemon-evolution input::-moz-placeholder {
    color: rgb(255, 255, 255);
  }

  .pokemon-evolution input::-ms-input-placeholder {
    color: rgb(255, 255, 255);
  }

.evolution-img{
    display: flex;
    cursor: pointer;
    margin: 10px 0px;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: rgb(134, 134, 134);
    border-radius: 100%;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px 0px #000000;
}

.evo-title-cont{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.evo-title{
    font-family: "BundayBold", sans-serif;
    font-size: 20px;
    color: #121212;
    position: absolute;
    bottom: 330px;
    left: 230px;
}

.types-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0px 50px;
}

.type{
    display: flex;
    flex-direction: row;
}

.types-container input{
    outline: none;
    color: #1d1d1d;
    width: 50px;
    height: 20px;
    border: none;
    margin-left: 20px;
    text-transform: capitalize;
}

  .fire {
    //color: #2b2b2b;
    color: #f1f1f1;
    background-color: #e60000d3;
  }

  .grass {
    //color: #f1f1f1;
    color: #2b2b2b;
    background-color: #00e000d3;
  }

  .water {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #0000ddd0;
  }

  .electric {
    //color: #f1f1f1;
    color: #2b2b2b;
    background-color: #e0e000d2;
  }

  .ice {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #00dfdfd7;
  }

  .fighting {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #db00dbd3;
  }

  .poison {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #830283d5;
  }

  .ground {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #808000c7;
  }

  .flying {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #008080d7;
  }

  .psychic {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #ff1491c4;
  }

  .bug {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #008000c0;
  }

  .rock {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #808080be;
  }

  .ghost {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #000080c9;
  }

  .dark {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #000000ce;
  }

  .dragon {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #800000b2;
  }

  .steel {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #c0c0c0c7;
  }

  .fairy {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #ffc0cbde;
  }

  .normal {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #a9a9a9d2;
  }

  .shadow {
    color: #f1f1f1;
    //color: #2b2b2b;
    background-color: #2b2b2bd8;
  }
