@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.homePage {
  background: #fff
    url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: block;
  margin: 120px auto;
  max-width: 1280px;
  overflow: hidden;
  position: relative;
  padding: 0px 50px 0px 50px;
}

.news {
  display: flex;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  margin: 120px auto;
  max-width: 1024px;
  overflow: hidden;
  position: relative;
  padding: 25px 40px 25px 40px;
}

span {
  font-style: italic;
}

.card-1 {
  border-radius: 10px;
  width: 610px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: rgba(27, 83, 187, 0.95);
  color: #fff;
  margin: 5px 5px 5px 5px;
  position: relative;
  transition: transform 0.15s;
}

.card-1:hover {
  background-color: rgb(27, 83, 187);
  transform: translateY(-5px);
}

.card-1 img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content-1 {
  padding: 20px;
}

.card-content-1 h3 {
  margin-top: 0px;
  font-weight: 700;
}

.card-content-1 p {
  margin-top: -10px;
  font-weight: 300;
  color: aqua;
  opacity: 0.4;
  line-height: 20px;
}

.card-2 {
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: rgba(230, 187, 47, 0.9);
  color: #fff;
  margin: 5px 5px 5px 5px;
  position: relative;
  transition: transform 0.15s;
}

.card-2:hover {
  background-color: rgb(230, 188, 47);
  transform: translateY(-5px);
}

.card-2 img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content-2 {
  padding: 15px;
  font-size: 15px;
}

.card-content-2 h3 {
  margin-top: 0px;
  font-weight: 700;
}

.card-3 {
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: rgba(255, 144, 196, 0.9);
  color: #fff;
  margin: 5px 5px 5px 5px;
  position: relative;
  transition: transform 0.15s;
}

.card-3:hover {
  background-color: rgb(255, 144, 196);
  transform: translateY(-5px);
}

.card-3 img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content-3 {
  padding: 15px;
  font-size: 15px;
}

.card-content-3 h3 {
  margin-top: 0px;
  font-weight: 700;
}

.col-66 {
  width: 66.6666666667%;
}

.col-33 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 33.3333333333%;
}

.flex {
  display: flex;
  justify-self: center;
}

.card-4 {
  border-radius: 10px;
  width: 300px;
  height: 310px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: rgba(227, 52, 13, 0.9);
  color: #fff;
  margin: 5px 5px 5px 5px;
  position: relative;
  transition: transform 0.15s;
}

.card-4:hover {
  background-color: rgb(227, 53, 13);
  transform: translateY(-5px);
}

.card-4 img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content-4 {
  padding: 15px;
  font-size: 18px;
}

.card-content-4 h3 {
  margin-top: 0px;
  font-weight: 700;
}

.card-5 {
  border-radius: 10px;
  width: 300px;
  height: 310px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: rgba(133, 90, 201, 0.9);
  color: #fff;
  margin: 5px 5px 5px 5px;
  position: relative;
  transition: transform 0.15s;
}

.card-5:hover {
  background-color: rgb(133, 90, 201);
  transform: translateY(-5px);
}

.card-5 img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content-5 {
  padding: 15px;
  font-size: 18px;
}

.card-content-5 h3 {
  margin-top: 0px;
  font-weight: 700;
}

.card-6 {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  height: 120px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: rgba(77, 173, 91, 0.9);
  color: #fff;
  margin: 5px 5px 5px 5px;
  position: relative;
  transition: transform 0.15s;
}

.card-6:hover {
  background-color: rgb(77, 173, 91);
  transform: translateY(-5px);
}

.card-6 img {
  width: auto;
  height: 150px;
  display: block;
}

.card-content-6 {
  padding: 15px;
  font-size: 15px;
}

.card-content-6 h3 {
  margin-top: 0px;
  font-weight: 700;
}