.container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 120px;
}

.carousel {
  display: flex;
  flex-direction: row;
  background-color: #232323;
  width: 100%;
  height: 320px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover{
    text-decoration: none;
}

.pokemon-card {
  background-color: #525252;
  height: 220px;
  margin: 3px 1px 0 1px;
}

.pokemon-card img {
  width: auto;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
}

.card-content {
  font-family: "BundayBold", sans-serif;
  text-transform: capitalize;
  background-color: #313131;
  height: 95px;
  margin: -19px 1px 0px 1px;
  padding: 10px;
}

.card-content-info {
  display: none;
}

.activeElement .card-content {
  border-radius: 0px 0px 10px 10px;
  display: flex;
  height: 100px;
}

.activeElement .id {
  position: absolute;
  top: 220px;
  right: 15px;
}

.idBig {
  font-family: "BundayBold", sans-serif;
  font-size: 80px;
  position: relative;
  top: -200px;
  right: -40px;
  opacity: 0.3;
  z-index: 1;
  color: #232323;
}

.activeElement .tipoTitle {
  position: absolute;
  top: 250px;
  left: 20px;
}

.tipos{
  font-family: "BundayRegular", sans-serif;
  display: flex;
  position: absolute;
  top: 250px;
  left: 70px;
}

.activeElement .tipo {
  width: auto;
  margin: 0px 2px;
  border-radius: 30px;
  opacity: 0.8;
  padding: 4px 8px 2px 8px;
}

.fire {
  //color: #2b2b2b;
  color: #f1f1f1;
  background-color: #e60000d3;
}

.grass {
  //color: #f1f1f1;
  color: #2b2b2b;
  background-color: #00e000d3;
}

.water {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #0000ddd0;
}

.electric {
  //color: #f1f1f1;
  color: #2b2b2b;
  background-color: #e0e000d2;
}

.ice {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #00dfdfd7;
}

.fighting {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #db00dbd3;
}

.poison {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #830283d5;
}

.ground {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #808000c7;
}

.flying {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #008080d7;
}

.psychic {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #ff1491c4;
}

.bug {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #008000c0;
}

.rock {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #808080be;
}

.ghost {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #000080c9;
}

.dark {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #000000ce;
}

.dragon {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #800000b2;
}

.steel {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #c0c0c0c7;
}

.fairy {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #ffc0cbde;
}

.normal {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #a9a9a9d2;
}

.shadow {
  color: #f1f1f1;
  //color: #2b2b2b;
  background-color: #2b2b2bd8;
}

.activeElement .habilidadTitle {
  position: absolute;
  top: 280px;
  left: 20px;
}

.activeElement .habilidad {
  position: absolute;
  top: 282px;
  left: 75px;
  font-family: "BundayRegular", sans-serif;
  font-style: italic;
}

.activeElement .pokemon-card {
  z-index: 1;
}

.activeElement .card-content-info {
  display: block;
  color: #eeeeee;
}

.activeElement {
  transform: scale(1.2);
  margin: 29px 23px 0 23px;
}

@keyframes slideInOut {
  from {transform: scale(0.9,1);}
  to {transform: scale(1,1.1);}
}

.activeElement img {
  position: relative;
  opacity: 1;
  z-index: 3;
  transform: scale(0.9,1);
  animation-name: slideInOut;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transition: opacity 0.3s ease-in;
}

.activeElement .idBig {
  font-size: 120px;
  position: absolute;
  top: 100px;
  right: 15px;
  opacity: 0.3;
  z-index: 2;
  color: #fff;
}

.btn-prev {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  background-color: #2b2b2b;
  border: none;
  color: #fff;
  font-size: 30px;
  padding: 0 10px;
  cursor: pointer;
  height: 92px;
  width: 76px;
  background: url(https://assets.pokemon.com/static2/_ui/img/chrome/slider-btns.png)
    no-repeat 0 0;
  display: none;
  transition: display 0.3s ease;
  transition: opacity 0.3s ease;
}

.btn-prev:hover {
  opacity: 1;
}

.btn-next {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-color: #2b2b2b;
  border: none;
  color: #fff;
  font-size: 30px;
  padding: 0 10px;
  cursor: pointer;
  height: 92px;
  width: 76px;
  background: url(https://assets.pokemon.com/static2/_ui/img/chrome/slider-btns.png)
    no-repeat 0 0;
  background-position: -100px 0;
  display: none;
  transition: display 0.3s ease;
  transition: display 0.3s ease;
}

.container-arrows:hover .btn-prev {
  display: block;
  opacity: 0.8;
}

.container-arrows:hover .btn-next {
  display: block;
  opacity: 0.8;
}

.container-arrows .btn-prev:hover {
  opacity: 1;
}

.container-arrows .btn-next:hover {
  opacity: 1;
}

.title{
  font-family: "BundayRegular", sans-serif;
  color: #ffffff9f;
  margin: 0 0 0 20px;
  font-size: 20px;
  padding: 0;
  position: absolute;
  top: -35px;
  left: 250px;
  padding: 10px 100px 5px 100px;
  z-index: 1;
  background-color: #232323;
  border-radius: 5px 5px 0px 0px;
}

.pokedex{
  font-family: "BundayRegular", sans-serif;
  color: #ffffff9f;
  margin: 0 0 0 20px;
  font-size: 20px;
  padding: 0;
  position: absolute;
  bottom: -90px;
  right: 190px;
  padding: 10px 20px 10px 20px;
  z-index: 1;
  background-color: #232323;
  opacity: 0.8;
  border-radius: 5px;
  cursor: pointer;
}

.pokedex:hover{
  opacity: 1;
}