<div class="container">
  <div class="container-arrows">
    <div class="title">Featured Pokémon</div>
    <div class="carousel">
      <a
        *ngFor="let pokemon of allPokemons; let index = index"
        [ngClass]="{ activeElement: index == active }"
        routerLink="/pokedex/{{ pokemon.id }}"
      >
        <div class="pokemon-card">
          <img
            class="pokemon-img"
            [src]="api_images + pokemon.id + api_format_images"
            alt="Pokémon sprite"
          />
        </div>
        <div class="card-content">
          <h2>{{ pokemon.name }}</h2>
          <p class="idBig">{{ pokemon.id }}</p>
          <div class="card-content-info">
            <p class="id">{{ pokemon.id }}</p>
            <p class="tipoTitle">Type</p>
            <div class="tipos">
              <div
                class="tipo"
                [ngClass]="
                  pokemon.pokemon_v2_pokemontypes[0].pokemon_v2_type.name
                "
              >
                {{ pokemon.pokemon_v2_pokemontypes[0].pokemon_v2_type.name }}
              </div>
              <div
                *ngIf="pokemon.pokemon_v2_pokemontypes[1]"
                class="tipo"
                [ngClass]="
                  pokemon.pokemon_v2_pokemontypes[1].pokemon_v2_type.name
                "
              >
                {{ pokemon.pokemon_v2_pokemontypes[1].pokemon_v2_type.name }}
              </div>
            </div>
            <p class="habilidadTitle">Ability</p>
            <div class="habilidad">
              {{
                pokemon.pokemon_v2_pokemonabilities[0].pokemon_v2_ability.name
              }}
            </div>
          </div>
        </div>
      </a>
      <div class="btn-prev" (click)="prev()"></div>
      <div class="btn-next" (click)="next()"></div>
    </div>
  </div>
  <div class="pokedex" routerLink="/pokedex">Go to the Pokédex</div>
</div>
