<footer class="global-footer">
  <div class="col-1">
    <div><img src="https://assets.pokemon.com/static2/_ui/img/footer/pokemon_company.png" alt="brand"></div>
    <div>
      <p>News</p>
      <p>Guide for parents and guardians</p>
      <p>Customer service</p>
      <p>About our company</p>
      <p>Select country or region</p>
      <p>Press site</p>
    </div>
  </div>
  <div class="col-2">
    <div class="social-media">
    </div>
  </div>
  <div class="col-3">
    <div class="caru"></div>
    <ul>
      <li><p>Terms of Use</p></li>
      <li><p>Privacy Policy</p></li>
      <li><p>Customer Service</p></li>
      <li><p>About Our Ads</p></li>
      <li><p>License</p></li>
      <li><p>©2023 Pokémon. ©1995 - 2023 Nintendo/Creatures Inc./GAME FREAK inc. TM, ®Nintendo.</p></li>
    </ul>
  </div>
</footer>
