<footer class="global-footer" style="opacity: 1">
  <div class="content-wrapper match-height-tablet">
    <div class="global-footer-links match">
      <h2
        data-gtm-vis-first-on-screen-159551_82="233126"
        data-gtm-vis-first-on-screen-159551_85="233126"
        data-gtm-vis-recent-on-screen-159551_82="5808326"
        data-gtm-vis-total-visible-time-159551_82="3000"
        data-gtm-vis-recent-on-screen-159551_85="5808327"
        data-gtm-vis-total-visible-time-159551_85="3000"
        data-gtm-vis-has-fired-159551_82="1"
        data-gtm-vis-has-fired-159551_85="1"
      >
        <span class="offscreen">The Pokémon Company</span>
      </h2>
      <ul>
        <li>
          <a href="/es/noticias-pokemon/" rel="" title=""> Novedades </a>
        </li>

        <li>
          <a href="/es/guia-para-padres-tutores/" rel="" title="">
            Guía para padres y tutores
          </a>
        </li>

        <li>
          <a href="/es/servicio-de-atencion-al-cliente/" rel="" title="">
            Servicio de atención al cliente
          </a>
        </li>

        <li>
          <a
            href="https://corporate.pokemon.com/es-es/"
            rel=""
            title=""
            id="about-our-company-link"
          >
            Sobre nuestra compañía
          </a>
        </li>

        <li>
          <a href="/es/pais-region/" rel="" title="">
            Seleccionar país o región
            <i class="icon-es"></i>
          </a>
        </li>

        <li>
          <a
            id="press-link"
            class="exit-link"
            target="_blank"
            rel="https://pokemon.gamespress.com/es"
            title="External: https://pokemon.gamespress.com/es"
            tabindex="0"
          >
            Sitio de prensa
          </a>
        </li>
      </ul>
    </div>

    <div class="global-footer-social match">
      <div class="footer-social-wrapper">
        <div class="find-us">
          <div class="find-us-box">
            <a
              class="facebook exit-link"
              target="_blank"
              title="External: https://www.facebook.com/PokemonOficialES"
              rel="https://www.facebook.com/PokemonOficialES"
              tabindex="0"
            >
              <span class="offscreen">Facebook</span>
            </a>

            <a
              class="youtube exit-link"
              target="_blank"
              title="External: https://www.youtube.com/user/PokemonOficialES"
              rel="https://www.youtube.com/user/PokemonOficialES"
              tabindex="0"
            >
              <span class="offscreen">Youtube</span>
            </a>

            <a
              class="twitter exit-link"
              target="_blank"
              title="External: https://www.twitter.com/Pokemon_ES_ESP"
              rel="https://www.twitter.com/Pokemon_ES_ESP"
              tabindex="0"
            >
              <span class="offscreen">Twitter</span>
            </a>

            <a
              class="instagram exit-link"
              target="_blank"
              title="External: https://www.instagram.com/PokemonESP"
              rel="https://www.instagram.com/PokemonESP"
              tabindex="0"
            >
              <span class="offscreen">Instagram</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="global-footer-legal match">
      <div class="footer-legal-wrapper">
        <div id="footer--privacy">
          <a
            title="External: https://caru.bbbprograms.org/seal/Confirmation/1596150491"
            href="/es/aviso-de-privacidad/"
          >
          </a>

          <ul>
            <li>
              <a href="/es/condiciones-de-uso/">Condiciones de uso</a>
            </li>

            <li>
              <a href="/es/aviso-de-privacidad/">Aviso de privacidad</a>
            </li>

            <li>
              <a id="cookieLink" href="/es/pagina-de-cookies/"
                >Página de Cookies</a
              >
            </li>

            <li>
              <a href="/es/legal/">Información legal</a>
            </li>
          </ul>
        </div>

        <span
          >©2023 Pokémon. ©1995 - 2023 Nintendo/Creatures Inc./GAME FREAK inc.
          TM, ®Nintendo.</span
        >
      </div>
    </div>
  </div>
</footer>
